@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to right bottom, rgba(18, 22, 17, 0.623), rgba(187, 66, 66, 0.8)), url(../image/Beautiful-Norway.jpg);
    background-size: cover;
    height: 100vh;
}


.header {
    padding: 3rem;
}

.heading-primary {
    text-align: center;
    color: #eee;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .9rem;
}

.container {
    text-align: center;
    padding: 3rem 0;
}

.input-container {
    padding: 2rem 0;
    margin: 0 auto;
}

[type="search"] {
    padding: 1.2rem 1rem;
    border: none;
    border-radius: .9rem;
    outline: none;
    max-width: 100rem;
    width: 30%;
    position: relative;
    transform: translateX(-3rem);
}

.btn {
    padding: 1.2rem 1rem;
    border: none;
    border-radius: .9rem;
    outline: none;
    width: 8%;
    font-size: 1.5rem;
    background-color: #333;
    color: #eee;
    position: absolute;
    top: 3;
    right: 35%;
    cursor: pointer;
}

.weather-result {
    height: 50vh;
}

.heading-tertiary {
    text-align: center;
    color: #eee;
    margin-top: 1.5rem;
}

.header-city-main {
    display: block;
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.header-city-sub {
    display: block;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: .8rem;
}

.header-city-sub-degree {
    display: block;
    font-weight: 700;
    font-size: 8rem;
}

.header-city-sub-weather {
    display: block;
    font-weight: 400;
    font-size: 2.5rem;
}



/* mobile screen size */

@media only screen and (max-width: 480px) {
    .heading-primary {
        font-size: 1.5rem;
        letter-spacing: .5rem;
    }

    [type="search"] {
        width: 70%;
        transform: translateX(-2rem);
    }

    .btn {
        width: 23%;
        top: 3;
        right: 10%;
    }

    .weather-result {
        margin-top: 5rem;
    }
    
    .header-city-main, 
    .header-city-sub
     {
        margin-bottom: 1.5rem;
    }

    .header-city-main {
        font-size: 2.5rem;
    }
    
    .header-city-sub {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    
    .header-city-sub-degree {
        font-size: 4rem;
    }
    
    .header-city-sub-weather {
        font-size: 1.5rem;
    }
    
}
